body {
    font-family: "KaiTi", 楷体, serif;
    width: 100%;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 30px;
    padding: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    opacity: 0.4; 
    z-index: -1; 
}

.container {
    width: 95%;
    max-width: 800px;
    background-color: rgba(247, 244, 244, 0.75);
    padding: 25px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    min-height: 90vh;
    border-radius: 10px;
    margin: 0 auto;
}

img {
    width: 80%;
    max-height: 500px;
    display: block;
    margin: 20px auto;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.8);
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

/* 代码块的容器样式 */
pre {
    background-color: #f7f4f4; /* 背景色，类似VSCode的深色主题 */
    color: #000000; /* 代码字体颜色 */
    padding: 16px; /* 内边距 */
    border-radius: 8px; /* 圆角 */
    overflow-x: auto; /* 横向滚动条 */
    font-family: 'Consolas', 'Courier New', monospace; /* 字体，VSCode通常使用等宽字体 */
    line-height: 1.5; /* 行间距 */
    word-wrap: break-word; /* 自动换行 */
}

/* 行号 */
pre code {
    display: block;
    white-space: pre-wrap; /* 保持空格和换行 */
    word-wrap: break-word;
}

/* 代码内联样式 */
code {
    background-color: #f7f4f4; /* 背景色 */
    color: #333; /* 字体颜色 */
    padding: 0.1em 0.1em; /* 内边距 */
    border-radius: 4px; /* 圆角 */
    font-size: 1em; /* 字体大小 */
    font-family: 'Consolas', 'Courier New', monospace; /* 字体 */
}

/* 高亮颜色 */
.token.keyword {
    color: #c678dd; /* 关键字颜色 */
}

.token.function {
    color: #61afef; /* 函数颜色 */
}

.token.string {
    color: #98c379; /* 字符串颜色 */
}

.token.comment {
    color: #7f848e; /* 注释颜色 */
}

/* 视频样式 */
.video-container {
    margin: 30px 0;
    text-align: center;
}

video {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 宽高比 */
    height: 0;
    overflow: hidden;
    max-width: 80%;
    margin: 20px auto;
    box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.8);
    border-radius: 8px;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 8px;
}

/* 视频标题和描述 */
.video-title {
    font-size: 18px;
    color: #333;
    margin: 10px 0 5px 0;
    text-align: center;
}

.video-description {
    font-size: 14px;
    color: #666;
    margin: 5px 0 20px 0;
    text-align: center;
    font-style: italic;
}

