---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

.paper-box {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 1px $border-color solid;
    padding: 2em 0 2em 0;
    

    .paper-box-image{
        justify-content: center;
        display: flex;
        width: 100%;
        order: 2;
        > div {
            position: relative;
            width: 350px;
            height: 192px;
            max-width: 100%;
            overflow: hidden;
            border: 1px solid $border-color;
            border-radius: $border-radius;
            background: $background-color;
        }
        img {
            width: 100%;
            height: 100%;
            box-shadow: $box-shadow;
            object-fit: cover;
        }
    }
    
    .paper-box-text{
        max-width: 100%;
        order: 1;
    }

    .publication-title {
        margin-bottom: .7rem;
        font-size: $type-size-4;
        font-weight: 700;
        color: $info-color;
    }

    .publication-authors {
        margin-bottom: .8rem;
        color: $text-color;
        line-height: 1.6;
    }

    .publication-links {
        display: flex;
        align-items: center;
        gap: .6rem;
        flex-wrap: nowrap;
        margin-bottom: .7rem;
    }

    .publication-btn {
        display: inline-block;
        min-width: 68px;
        text-align: center;
        padding: .2rem .55rem;
        font-size: .9em;
        font-weight: 500;
        color: $info-color;
        background-color: mix(#fff, $info-color, 94%);
        border: 1px solid mix(#fff, $info-color, 70%);
        border-radius: $border-radius;
        box-shadow: $box-shadow;
        text-decoration: none;

        &:hover {
            color: $link-color-hover;
            border-color: $info-color;
            text-decoration: none;
        }
    }
    
    @include breakpoint($medium) {
        .paper-box-image{
            justify-content: left;
            min-width: 200px;
            max-width: 40%;
            order: 1;
        }
        
        .paper-box-text{
            justify-content: left;
            padding-left: 2em;
            max-width: 60%;
            order: 2;
        }

    }


}

$scroll_offset : 2em;
h1:before, .anchor:before { 
    content: ''; 
    display: block; 
    position: relative; 
    width: 0; 
    height: $scroll_offset; 
    margin-top: -$scroll_offset;
}

.badge {
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    margin-top: .5em;
    margin-left: -.5em;
    color: white;
    background-color: $info-color;
    font-size: .8em;
}